@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700&display=swap&subset=arabic,cyrillic');
@import "reset";

/* Color Theme Swatches in Hex */
$bkg-img-1-hex: #1B2E40;
$bkg-img-2-hex: #91C4D9;
$bkg-img-3-hex: #F2D8CE;
$bkg-img-4-hex: #F2B9AC;
$bkg-img-5-hex: #BF7878;

/* Color Theme Swatches in RGBA */
$bkg-img-1-rgba: rgba(27,46,64, 1);
$bkg-img-1a-rgba: rgba(27,46,64, .6);
$bkg-img-1b-rgba: rgba(27,46,64, .4);
$bkg-img-2-rgba: rgba(145,196,217, 1);
$bkg-img-3-rgba: rgba(242,216,206, 1);
$bkg-img-4-rgba: rgba(242,185,172, 1);
$bkg-img-5-rgba: rgba(191,120,120, 1);
$bkg-img-5a-rgba: rgba(191,120,120, .6);

/* Color Theme Swatches in HSLA */
$bkg-img-1-hsla: hsla(209, 40, 17, 1);
$bkg-img-2-hsla: hsla(197, 48, 70, 1);
$bkg-img-3-hsla: hsla(16, 58, 87, 1);
$bkg-img-4-hsla: hsla(11, 72, 81, 1);
$bkg-img-5-hsla: hsla(0, 35, 60, 1);

*,
h1,
h2,
h3,
h4,
h5,
h6,
 p,
 span,
 div {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: $bkg-img-3-hex;
}

html, body {
  background: $bkg-img-3-hex;
  height: 100%;
}

@import "home";
@import "tasks";


.btn {
  width: 100%;
  padding: .63rem 1.25rem;
  margin: .9375rem 0;
  text-align: center;
  background: $bkg-img-5-hex;
  font-size: 1.6rem;
}
